
@import 'global.css';
.header{
    text-align: center;
    margin-bottom: 50px;
}

h1, h2{
    font-size: 1rem;
}


/* table{
    font-size: 10pt;
} */


@media screen {  
    input{
        text-align: center;
    } 
    input#date{
        width: -webkit-fill-available;
    }

    nav{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
    
    th,td{
		padding: 5px !important;
		vertical-align: middle;
	}
    table{
        font-size: 10pt;
    }
    

    .flex {
        display: flex;
        flex: auto;
        /* border: 1px solid red; */
      }
      .flex-box {
        width: 25px;
        /* height: 1000px; */
        /* background: rgba(216, 143, 229, 0.499); */
      }
      .button{
        display: flex;
        /* display: inline !important; */
        flex: auto;
        height: 40px;
        gap: 12px;
        margin: 1px;
      }

      .btn-remove{
		padding: 5px;
		width: 25px;
		height: 25px;
		font-size: 0.7rem;
		font-weight: bold;
	}

    textarea[description]{
        height: 50px;
        width: 200px;
        resize: none;
        font-size: 12px !important;
        text-align: center;
    }


    textarea[remark]{
        height: 50px;
        width: 200px;
        resize: none;
        font-size: 12px !important;
        text-align: center;
    }
    .pco, .dh{
        visibility: collapse;
		display:none;
        
    }

   
}
@media print {
        html, body {
            height: 99%;   
            position: relative; 
        }
        input {
            text-align: center;
            border:none;
        }
    
        input#date{
            width: -webkit-fill-available;
        } 
		.navbar{
            visibility: collapse;
			content-visibility: hidden;
			display:none !important;
			padding: 0px;
		}
		@page {
			size: landscape;
			margin: 10;
			background-image: none;
		}
        button{
			display: none !important;
			
		}
        th,td{
			font-size: 10.5px;
            padding: 5px !important;
		    vertical-align: middle;
            page-break-after:auto; 
            page-break-inside:avoid;
		}
        textarea[remark]{
            height: 40px;
			width: 300px;
            text-align: start;
            resize: none;
            text-align: center !important;
            display: block;
            border:none;
        }

        textarea[description]{
			border: none;
			text-align: center;
			height: 40px;
			resize: none;
			display:block;
			width: 300px;
		}


        tr {
			display: table-header-group;
			text-align: center;
            page-break-inside: avoid;
            
		}
/* Adds a break */
        .break {
            display: block;
        }
/* Disables all breaks */
        br {
            display:none;
        }
/* line properties         */
        .pco{
            font-size: 11px;
            position: absolute;
            bottom: 0px;
            /* display: inline-block; */
            
            /* page-break-inside: auto; */
        }
        .dh{
            font-size: 11px;
            position: absolute;
            bottom: 0;
            right: 0;
            /* display: inline-block; */
            /* page-break-inside: auto; */
        }
        
        .pco > .line {
            display: inline-block;
            border-bottom: 1px solid #000;
            width: 250px; 
            /* position: fixed;
            bottom: 0;
            page-break-inside: auto; */
            }

        .dh > .line {
            display: inline-block;
            border-bottom: 1px solid #000;
            width: 250px;
            /* position: fixed;
            bottom: 0;
            page-break-inside: auto; */
            }
        
            .pco > .dh > .last-page {
                page: last_page;
                page-break-before: always; /* Use if your last page is blank, else omit. */
            }

            .underline{
                border: none;
                border-bottom: 1px solid black;
            }

            /* .test{
                border-bottom: 1.5px solid rgb(0, 0, 0);
                width: 180px;
            } */
            
            .show{
                border: 1px solid black;
            }
            
            .hide {
                visibility: hidden;
            }

            /* table input, table top_info{
                border-bottom: none;
            } */

            

}