.header{
    text-align: center;
    margin-bottom: 50px;
}

h1, h2{
    font-size: 1rem;
}

table{
    font-size: 10pt;
}


@media screen {

	.wrapper{
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	nav{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
	th,td{
		padding: 5px !important;
		vertical-align: middle;
		font-weight: bold;
	}
	
	/* Keeps table text centered like on old sheet  */
	input[bottom]{
		text-align: center;
	}

	textarea[bottom] {
		text-align: center;
	}

	/* Keeps top info centered like on old sheet  */
	input[top]{
		float: right;
		width: 150px;
		text-align: center;
		
	}

	textarea[division]{
		font-size: 13px;
		height: 70px;
		resize: none;
		text-align: center;
	}

	textarea[location]{
		font-size: 14px;
		height: 50px;
		resize: none;
		text-align: center;
	}

	textarea[description]{
		font-size: 13px;
		height: 65px;
		resize: none;
	}

	textarea[remarks]{
		height: 50px;
		resize: none;
	}

	input{
		width: 150px;
	}
	.btn-remove{
		padding: 5px;
		width: 25px;
		height: 25px;
		font-size: 0.7rem;
		font-weight: bold;
	}

	textarea[top]{
		float: right;
		width: 150px;	
	}
	
	.note{
		visibility: hidden;
		display:none;
	}


	
}
@media print {
	html, body {
        height: 99%;    
    }
		.navbar{
			content-visibility: hidden;
			display:none !important;
			padding: 0px;
		}
		@page {
			size: landscape;
			margin: 10;
			background-image: none;
		}
		.align{
			text-align: justify-content-center;
		}
		.header{
			margin-bottom: 15px;
		}
	
		tr {
			display: table-header-group;
			text-align: center;
		}
		
		element.style {
			width: 90%;
		}
		input, textarea {
			width: 90%;
		}

		th{
			font-size: 12.4px;
		}
		
		.break{
			display:block;
		}
		h2 {
			text-align: center;
			font-size: 1rem;
		}

		tr {
			page-break-inside: avoid;
			}
	
		div br {
		display: none;
		}

		p {
		margin-bottom: 0;
		}
		
		.flex-fill div {
		display: grid;
		}

		.b{
			margin-bottom: 0;
		}
		input {
			border: none;
			width: -webkit-fill-available !important;
			overflow: hidden;
		}

		.field-container p.container{
			display: flex !important;
			justify-content: flex-start !important;
			width: 100% !important;
			
		}
		.field-container p.container>b{
			max-width: unset !important;
			width: unset !important;
			
			/* background-color: blueviolet !important; */
		}
		.field-container p.container>input{
			width: unset !important;
			min-width: unset !important;
			flex-grow: 1 !important;
			/* background-color: rgb(26, 160, 43) !important; */
		}
		
		
		.container {
			display: flex;
		} 

		/* Keeps table text centered like on old sheet  */
		input[bottom]{
			text-align: center;
			border: none;
		}
		input[top]{
			width: 150px;
			text-align: left;
			display:inline-block;
		}
	
	
		/* Keeps top info centered like on old sheet  */
		textarea {
			margin: 0;
			padding: 0;
			border: none;
			overflow: hidden;
		}
	
		textarea[division] {
			overflow: hidden;
			border: none;
			margin: 0;
			padding: 0;
			margin-bottom: 0;
			white-space: nowrap;
			resize: none;
			/* font-size: 13px; */
			word-break: break-word;
		}
	
		textarea[location]{
			border: none;
			font-size: 15px;
			height: 50px;
			resize: none;
			margin:0; 
			padding:0; 
			margin-bottom: 0;
			display:block;
		}

		textarea[description]{
			border: none;
			text-align: start;
			height: 40px;
			resize: none;
			display:block;
			width: 300px;
		}

		textarea[remarks]{
			border: none;
			text-align: start;
			height: 40px;
			width: 300px;
			resize: none;
			display:block;
		}

		textarea[bottom] {
			text-align: center;
		}

		td:last-child {
			visibility: hidden;
		}
		button{
			display: none !important;
			
		}
		.note{
			position: absolute;
			bottom: 0px;
			width: 100%;
			visibility: show;
			font-size: 12px;
			/* margin: -4px;
			padding: -100%;
			height: 0;
			line-height: 0;
			clear: both;
			page-break-inside: avoid;  */
			text-align: center;
			
		}
		
		table{
			margin-bottom: 0 !important;
		}
	}

	/*
	on Parent container, use:
		display: flex
		justify-content: flex-start
		align-items: flex-start

	on Input, use:
		flex-grow: 1
		margin-left: 30px


	Also remove <br>'s from <b> tags

	*/